{% load sekizai_tags staticfiles thumbnail %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{% static "cmsplugin_fancy_filery/css/fancy_desktop.css" %}"
          media="only screen and (min-width: 1024px)">
    <link rel="stylesheet" href="{% static "cmsplugin_fancy_filery/css/fancy_mobile.css" %}"
          media="only screen and (max-device-width: 1023px)">
{% endaddtoblock %}
{% addtoblock "js" %}
    <script type="text/javascript" src="{% static "cmsplugin_fancy_filery/js/fancy_mobile.js" %}"></script>
{% endaddtoblock %}

{% autoescape on %}


<div class="fancy-filery">
<h1>{{ gallery.title }}</h1>
    {% for image in images %}
        <input type="radio" name="fancy-preview_{{ gallery.id }}" id="img{{ forloop.counter }}_radio" {% if forloop.first %} checked {% endif %}/>
        <label class="fancy-thumbnail" for="img{{ forloop.counter }}_radio">
            <img src="{% thumbnail image.filer 100x100 crop %}" width="100" height="100"/>
            <p class="fancy-title" data-title="{{ image.title }}">{{ image.title }}</p>
        </label>
        <input type="checkbox" name="fancy-overlay" id="img{{ forloop.counter }}_check">
        <label class="fancy-preview" for="img{{ forloop.counter }}_check">
            <img src="{% thumbnail image.filer 700x700 crop %}" width="450" height="450">
            <h2 class="fancy-title">{{ image.title }}</h2>
            <p class="fancy-description">{{ image.description }}</p>
            <div class="fancy-divider"></div>
        </label>
        <label class="fancy-overlay" for="img{{ forloop.counter }}_check">
            <span class="fancy-top"></span>
            <img src="{{ image.filer.url }}">
            <p class="fancy-title">{{ image.title }}</p>
            <span class="fancy-bottom"></span>
        </label>
    {% endfor %}
</div>
{% endautoescape %}
